.jumbotron{
    padding: 0 0 !important;

}

.jumbotron
    img{
        width: 100% !important;
    }

.cms_plugin-3
    .column{
        margin-right: 10em;
    }

.navbar-brand
    img{
            position: relative; !important;
            top: -15px
        }